@charset "utf-8";
/* aboutsiteのメイン */
#p-aboutsite__main {
  padding-bottom: 100px;
  background-color: #e2e0ef;
  width: 90%;
  margin: 0 auto;
}
/* 見出しの設定 */
.c-aboutBox__tag {
  height: 50px;
  line-height: 50px;
  width: 30%;
}
.u-aboutBox__tag__fonts {
  font-size: 25px;
  /* color: white; */
  text-align: center;
}
/* BOXの設定 */

.c-aboutBox__font {
  font-size: 18px;
  padding: 10px;
}
.u-m40 {
  margin: 40px;
}

.u-privacy__formTable__item {
  font-size: 18px;
}
.u-privacy__formTable__item td {
  padding: 10px;
}
