@charset "utf-8";

@font-face {
    font-family: "mamelon3.5";
    src: url("../fonts/mamelon-fonts3.5.woff") format("woff");
}
@font-face {
    font-family: "mamelon5";
    src: url("../fonts/mamelon-fonts5.woff") format("woff");
}

/* font-size指定 */
html {
    font-size: 62.5%;
}

/* 画像の下の余白を削除 */
img {
    vertical-align: bottom;
}

/* リンク設定 */
a {
    text-decoration: none;
    cursor: pointer;
    color: #2d294f;
}
a:hover {
    color: #cf7e7c;
}

body {
  /* サイト全体のコンテンツ領域指定 */
    width: 100%;
    margin: 0 auto;
    color: #000000;
    background: #eae4ad;
  /* フォント指定 */
    font-family: "mamelon3.5";
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  /* 768px以上に適用されるCSS（タブレット・PC用） */
    body {
    /* フォント指定 */
    font-family: "mamelon3.5";
    font-size: 2.4rem;
}
}

main {
    padding-top: 70px;
}
@media (min-width:1025px) {
    main {
        padding-top: 100px;
    }
}

/* ここからヘッダー */
.c-logo {
    height: 60px;
    padding-left: 11%;
}
.c-mapIcon,.c-search{
    height: 40px;
}
#c-elevatorOpen,#c-elevatorClose{
    height: 60px;
    padding-bottom: 5px;
}
.c-elevatorBtn{
    opacity: .3;
}
.c-elevatorBtn:hover{
    opacity: 1;
}
.p-header__contentsList ul div{
    font-size: 13px;
}
.p-header__contentsList a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.l-header {
    position: relative;

}

.p-header__nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.c-header__navListDetail{
    font-size: 2rem;
    padding-top: 1rem;
}

.p-header__navList{
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.p-header__navListDetail1,.p-header__navListDetail2,.p-header__navListDetail3,.p-header__navListDetail4,.p-header__navListDetail5,.p-header__navListDetail6{
    /* 大事！！！ */
    position: absolute;
    display: block;
    text-align: center;
    transform: translate(8px, 0px);
    opacity: .8;
    padding: 1rem 0.5rem;
}
.u-header__navListDetail__blue{
    background-color: #252F4D;
}
.u-header__nav__white{
    color: #fff;
}

.p-header__navListDetail1{
    transform: translate(-30px, 0px);
}

.p-header__navListDetail6{
    transform: translate(18px, 0px);
}

.p-header__navListDetail li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}


.c-header__nav{
    width: 115px;
    padding: 10px 0;
    font-size: 1.6rem;
}


.c-header__nav:hover{
    cursor: pointer;
    font-weight: bold;
}

.c-elevatorBtn:hover{
    cursor: pointer;
}

.p-header__contents{
    position: fixed;
    z-index: 3;
    left: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.p-header__contentsList{
    height: 100%;
}

.p-header__contentsList ul{
    display: flex;
    height: 100%;
    padding: 10px 20px 0 0;
}

.p-header__contentsList li{
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 767px){
    .p-header__contentsList ul{
        padding-right: 10px;
    }
    .p-header__contentsList li{
    padding-right: 6px;
}
.c-logo {
    height: 50px;
    padding-left: 11%;
}
}
@media screen and (min-width: 1025px){
    .p-header__contents{
        height: 100px;
    }
    .c-header__nav {
        font-size: 22px;
    }
    .p-header__contentsList ul div{
        font-size: 16px;
    }
    .p-header__contentsList ul {
        padding: 20px 20px 0 0;
    }
}


/* ここからバーガーメニュー */
.c-elevatorBtn{
    width: 40px;
}

.p-header__contentsBurgerTop{
    height: 70px;
    width: 100vw;
}
#c-elevatorClose{
    position: absolute;
    height: 50px;
    right: 40px;
    top: 10px;
}
@media screen and (max-width: 767px){
    #c-elevatorClose{
    position: absolute;
    right: 17px;
    top: 10px;
    }
}

/* .u-header__contentsBurgerNav__beige{
    background-color: #eae4ad;
} */


/* 高さもう少し */
.p-header__contentsBurgerNav{
    /*外すと空白の高さ生じる*/
    position: absolute;
    width: 100vw;
    height: 600px;
    padding-top: 30px;
    text-align: center;
    background: rgba(234, 228, 173, 0.8);
}

#p-header__contentsBurger ul li{
    padding: 0 20%;
}

.p-header__contentsBurgerNavDetail li{
    padding-bottom: 20px;
    border-bottom: 1px #252F4D solid;
}

.p-BurgerNavDetail li{
    height: 3rem;
}
.p-BurgerNavDetail a{
    display: inline-block;
    text-decoration: none;
    border-bottom: #252F4D 1px solid;
    width: 100%;
    height: 100%;
    text-align: center;
}

.u-BurgerNavDetailA__blue{
    color: #252F4D;
}

.p-BurgerNavDetail a:hover{
    font-weight: bold;
}

.p-BurgerNavDetail span{
    font-size: 1.8rem;
    display: inline-block;
    padding-top: 10px;
    width: 100%;
}

.c-footer__contentsDetail li a{
    text-align: center;
}

#p-header__contentsBurger{
    transform: translateX(100%);
    position: fixed;
    z-index: 4;
}

#p-header__contentsBurger.slide-in{
    transform: translateX(0);
    transition: .3s;
    height: 1000px;
}

#p-header__contentsBurger.slide-off{
    transform: translateX(100%);
    transition: .3s;
}
#p-header__contentsBurger ul li{
    padding: 0 10%;
}

@media screen and (min-width: 768px){
#p-header__contentsBurger ul li{
    padding: 0 20%;
}
}

.c-header__contentsBurgerNavBtn{
    display: block;
    padding: 12px 10% 0;
    height: 52px;
}

.c-header__contentsBurgerNavBtn img {
    vertical-align: bottom;
}

.c-header__contentsBurgerNavBtn:hover{
    font-weight: bold;
}

.c-elevatorBtn{
    /* 浮いている要素には効かない */
    vertical-align: bottom;
}

.c-header__contentsBurgerNavBtn span{
    width: 120px;
    height: 25px;
    font-size: 2.5rem;
    display: inline-block;
    padding-left: 10px;
}

@media screen and (max-width: 1024px){
    .p-topNav{
        display: none;
    }
}
@media screen and (min-width: 1025px){
    .p-header__contentsList li:nth-child(3){
        display: none;
    }
}

/* ここからフッター */
.c-fab{
    text-align: center;
    padding: 23px 30px;
}

.fa-instagram-square{
    padding-right: 15px;
}

.fa-twitter-square{
    padding-left: 15px;
}

.c-copyRight{
    position: relative;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 40px;
    background-color: #252F4D;
    z-index: 2;
}

.l-footer{
    position: relative;
    width: 100%;
    background-color: #252F4D;
    padding: 23px 0 35px 0;
    z-index: 2;
}

.p-footer__contentsParts{
    text-align: center;
}
.p-footer__contentsParts span{
    display: inline-block;
    width: 150px;
    padding-left: 25px;
    position: relative;
    z-index: 1;
}

.p-footer__contentsParts span::after{
    content: '';
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    right: -8px;
    top: 10px;
}

.c-footer__contentsDetail{
    display: none;
}

.c-footer__contentsPartsBtn{
    display: inline-block;
    width: 200px;
    padding: 17px 0;
    border-bottom: #fff 1px solid;
    text-align: left;
}

.p-footer__contentsPartsLast a{
    text-align: center;
}

.c-footer__contentsParts{
    border-top: #fff 1px solid;
}

.l-footer a {
    text-decoration: none;
}

.c-footer__contentsDetail li{
    height: 44px;
}
.c-footer__contentsDetail li a{
    width: 200px;
}

.c-footer__contentsDetail a:hover,
.p-footer__contentsPartsLast a:hover {
    font-weight: bold;
}

.p-footer__contentsPartsLast{
    padding: 25px;
}

.p-footer__contentsPartsLast div{
    padding: 10px 0;
}

.c-footer__contentsPartsBtnPC{
    display: none;
}

.c-footer__contentsDetail a{
    display: inline-block;
    padding-top: 14px;
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 1000px){
.l-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 23px;
}

.p-footer__contentsBlock1{
    order: 3;
}

.p-footer__contentsBlock2{
    order: 2;
}

.p-footer__contentsBlock3{
    order: 1;
}

.p-footer__contentsBlock4{
    order: 4;
}

.p-footer__contentsBlock1,.p-footer__contentsBlock2,.p-footer__contentsBlock3{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.c-footer__contentsDetail a{
    border-bottom: none;
    font-size: 14px;
}

.c-footer__contentsDetail a:hover{
    font-weight: bold;
}

.c-footer__contentsDetail{
    display: block;
    padding-bottom: 20px;
}

.c-footer__contentsParts{
    border-top: none;
}

.p-footer__contentsPartsLast a{
    border-bottom: none;
}

.c-fab{
    padding-top: 150px;
}
}


/* ここからエレベーター用 */
.p-main__liftGroup__parts{
    position: fixed;
    height: 100vh;
    top: 70px;
    right: 0px;
    width: 80px;
    background-image: url(../images/img_front_liftLine03.png);
    z-index: 1;
}
.c-main__liftBodyImg{
    position: absolute;
    top: 25px;
}
.lift6{
    top: 25px;
}
.lift6::before{
    content: '6階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift5{
    top: 15vh;
}
.lift5::before{
    content: '5階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift4{
    top: 27vh;
}
.lift4::before{
    content: '4階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift3{
    top: 39vh;
}
.lift3::before{
    content: '3階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift2{
    top: 51vh;
}
.lift2::before{
    content: '2階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.lift1{
    top: 63vh;
}
.lift1::before{
    content: '1階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.liftbasement{
    top: 72vh;
}
.liftbasement::before{
    content: '地下';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.c-main__liftTopImg{
    position: absolute;
}
@media screen and (min-width: 768px){
    .p-main__liftGroup__parts{
        position: fixed;
        width: 100px;
}
.c-main__liftBodyImg{
    position: absolute;
    top: 33px;
}
.lift6{
    top: 30px;
}
.lift6::before{
    content: '6階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift5{
    top: 15vh;
}
.lift5::before{
    content: '5階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift4{
    top: 27vh;
}
.lift4::before{
    content: '4階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift3{
    top: 39vh;
}
.lift3::before{
    content: '3階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift2{
    top: 49vh;
}
.lift2::before{
    content: '2階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.lift1{
    top: 58vh;
}
.lift1::before{
    content: '1階';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
.liftbasement{
    top: 68vh;
}
.liftbasement::before{
    content: '地下';
    background-color: #CF7E7C;
    display: inline-block;
    width: 100%;
    height: 26px;
    padding-top: 6px;
    text-align: center;
}
}
@media screen and (min-width: 1025px){
    .p-main__liftGroup__parts{
    position: fixed;
    top: 100px;
}
}


.p-instaArea {
    position: relative;
    z-index: 2;
    height: 270px;
    background: #eae4ad;
    background-image:url(../images/line_footer_lace.png),
	url(../images/line_footer_lace.png);

	background-repeat:repeat-x,
					repeat-x;

	background-position:left top,
						right bottom;
}
@media (min-width:1025px) {
    .p-instaArea {
        height: 200px;
    }
}
