@charset "utf-8";
body{
    background-color: #777035;
}

.pcImg{
    display: none;
}
a{
    display: block;

}
a:hover{

    opacity: 0.7;
}




.c-spotnameLarge{
     display: inline-block;
    color: black;
    width: 100%;
    font-size: 30px;
    background-color: #85476E;
    padding: 10px ;
    border:2px solid #707070;
    text-align: center;
}
 .p-articleArea{
        padding-top: 24px ;
    }



.p-articleArea__textImg{
    background-color: #C2A062;
    padding: 14px;

}

.c-textLarge{

    padding-bottom:14px;
    line-height: 20px;
    margin: 0 auto;
}

.c-hand,.c-hand__under{
  display: none;
}

.c-spotType{
    padding: 30px;
}












@media(min-width:768px){
    .spImg{
        display: none;
    }
    .pcImg{
        display: block;
    }

    .u-flex{
        display: flex;
    }

    .p-articleArea{
        padding-top: 40px;
    }


    .p-articleArea__img{


    width: 300px;
    height: 188px;
    text-align: center;
}

.c-textLarge{

    font-size: 20px;
    padding:20px;
    line-height: 20px;
}
.c-spotnameLarge{
    font-size: 50px;
}
.c-hand{
    display: block;
    text-align: right;
    height: 200px;
}
    .c-handImg{
    height: 350px;
     transform: scale(1, -1);
    }

    .c-hand__under{
        display: block;
    text-align: left;
}
    .c-handImg__under{
    height: 350px;

    }

      .c-spotType{

        text-align: center;
        padding: 100px;
    }
    .c-spotType__img{
        height: 100px;


    }


}

@media(min-width:1025px){
    .p-articleArea__img{


    width: 350px;
    height: 215px;

}

    .c-textLarge{
        width: 65%;
        font-size: 24px;
        line-height: 1;
        padding:40px;
    }


    .c-spotType{

        text-align: center;
    }
    .c-spotType__img{
        height: 100px;


    }

    .c-handImg{
    height: 350px;
     transform: scale(1, -1);
    }

}


















.p-articleList{
      width: 280px;
      height: 320px;
      margin: 0 auto;
      /* overflow: hidden;
      transition: all .4s ease 0s; */

}
.more1,.more2{
    overflow: hidden;
      transition: all .4s ease 0s;

}
/* .p-articleList.is-hidden{
    visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0 10px;
  padding:0;
} */
.more1.is-hidden,.more2.is-hidden{
      visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0 10px;
  padding:0;
}
.p-gakuImg{

       position: relative;
         width: 280px;
         height:200px;


}

.c-imgGaku{
          width: 280px;
    height:200px;





}



.c-imgArea{
    width: 240px;
    height: 160px;
    position: absolute;

    transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;





}
.c-imgArea:hover{
     position: absolute;

    transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;



}



.u-grid{
        display: grid;


    }
    .p-spotList{

        justify-content: center;
        gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        width: 90%;
        margin: 0 auto;




    }





.p-textArea{
    height: 120px;
     background-color:#928C52;

}

.icon__heart {
  width: 32px;
  height: 30px;
  fill: #85476E;
  stroke: none;
}


.u-flex{
    display: flex;
}

.c-bookmark__count{
    font-size: 18px;
    font-family: 'mamelon5';
    padding-top: 10px;

}
.c-bookmark__text{
    font-size: 8px;
    padding-top: 15px;
}

.p-textContent{
    display: flex;
    justify-content: space-between;
    padding: 16px 15px 10px 15px;
}

.p-tag{

    font-size: 13px;
    color:#FEF9F9;
    align-items: center;


}

.c-tag__areaName{
    display: inline-block;
    margin-right: 15px;


    background-color: #990000;
    padding: 8px ;
    border:2px solid #707070;

}
.c-tag__spotName{
    background-color: #330000;
    padding: 8px ;
    border:1px solid #707070;
}


.c-spotName{
    font-size: 18px;
    font-family: 'mamelon5';

    text-align: center;

}












/* moreボタン */
.c-moreButton{






    width: 180px;
    padding-top:30px;

    text-align: center;

    border-radius: 30px 30px 30px 30px;
    margin: 0 auto;

}
button{
      color: #303030;
    font-family: 'mamelon5';
    font-size: 26px;
    width: 180px;
    padding:7px;

    text-align: center;
    background-color: #85476E;
    border-radius: 30px 30px 30px 30px;
    border: none;
    cursor: pointer;
    outline: none;

}

button:hover{
    opacity: 0.7;
}

@media(min-width:768px){
    .c-moreButton{



    font-family: 'mamelon5';
    font-size: 30px;
    width: 200px;
    padding:15px;
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: 30px;
}
}
