@charset "utf-8";

/* myマップアイコンの指定 */
.p-conceptBase__mymap__heading {
  padding: 10px;
  text-align: center;
}

/* mymapメイン画像の指定 */
#p-mymap__main {
  padding-bottom: 100px;
  background-color: #e2e0ef;
  width: 90%;
  margin: 0 auto;
}

/* 地図画像親要素 */
.p-mymap__map {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

/* 地図画像の指定 */
.p-mymap__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* アイコンの幅の指定 */
.c-mymap__logo {
  width: 30%;
}

/* アイコン周りのマージン */
.u-mg6 {
  margin: 6px;
}
