@charset "utf-8";


/* プライバシーポリシーの文字詳細指定 */
.u-privacy__formTable__item th {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  padding: 10px;
}

.u-privacy__formTable__item td {
  font-size: 18px;
  padding: 10px;
}
/* SP用CSS */
/* メディアクエリ */
@media screen and (max-width: 599px) {
  .u-privacy__formTable__item th,
  .u-privacy__formTable__item,
  .p-conceptBase__formTable__item {
    display: block;
    width: 100%;
    font-family: none;
  }
}
