/* 検索結果ページ */

/* 各ページのカテゴリーのタイトル */

.p-title {
  text-align: center;
}

/* パンくずナビゲーション */
.p-breadCrumb {
    width: 100%;
    padding: 10px;
    font-size: 12px;
}
@media (min-width:768px) {
    .p-breadCrumb {
        padding: 20px;
        font-size: 20px;
    }
}
.p-breadCrumb__inner>span {
    padding: 3px;
    letter-spacing: 1px;
}
.p-breadCrumb__inner>i {
    color: #2d294f;
}
/* /パンくずナビゲーション */

/* ------------------------------------------------ */

/* 検索フォームページ */

.p-seachArea {
  width: 84vw;
  right: 0;
  padding-top: 70px;
  position: absolute;
  margin: 0 8vw 0 8vw;
}

@media screen and (min-width: 1025px) {
  .p-seachArea {
    width: 45vw;
    right: 0;
    padding-top: 70px;
    position: absolute;
    margin: 0 5vw 0 0;
  }
}

/* キーワード検索 */

.p-seach__keywordArea {
  background-color: #e2dfff;
  padding: 30px 0;
}

.p-seach__keyword {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

input[type="text"] {
  height: 40px;
  width: 100%;
}

.u-text__center {
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 1025px) {
  .u-text__center {
    text-align: center;
    font-size: 18px;
  }
}

/* ラジオボタン */
input[type="radio"] {
  display: none;
}

.p-radio__area {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.p-radio__content {
  display: flex;
  justify-content: center;
  max-width: 75%;
  margin: 0 auto;
}

.p-label__seach {
  display: inline-block;
  padding: 5px 5px;
  border: 1px solid #2d294f;
  border-radius: 10px;
  line-height: normal;
  font-size: 10px;
}

@media screen and (min-width: 1025px) {
  .p-label__seach {
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 16px;
  }
}

input[type="submit"] {
  display: none;
}

.p-submit__radio {
  display: flex;
  justify-content: space-around;
  padding: 0 0 40px 0;
}

.p-label_submit {
  display: inline-block;
  padding: 5px 15px;
  color: white;
  background-color: #2d294f;
  line-height: normal;
  font-size: 16px;
}



/* タイトル画像 */
.p-title {
    text-align: center;
    padding: 30px 0;
}
.p-title img {
    height: 60px;
}
