@charset "utf-8";


/* l */
.l-main {
    padding-top: 70px;
}
@media (min-width:1025px) {
    .l-main {
        padding-top: 100px;
    }
}

.l-singleArticle {
    margin: 0 auto;
    background: #ffffff;
}

.l-slickSlider {
    width: 100%;
    margin: 0 auto;
}
@media (min-width:1025px) {
    .l-slickSlider {
        width: 40%;
        margin: 0;
    }
}

/* 記事文字部分 */
.l-singleBody {
    padding: 0;
}


/* マップとテーブル */
.l-singleInfo {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}
@media (min-width:1025px) {
    .l-singleInfo {
        justify-content: space-between;
        flex-direction: row;
        padding: 30px 0 50px;
    }
}

/* マップ */
.l-singleMap {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
}
@media (min-width:1025px) {
    .l-singleMap {
        display: inline-block;
        width: 40%;
    }
}

/* テーブル */
.l-singleTable {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 30px;
}
@media (min-width:768px) {
    .l-singleTable {
        padding: 30px 0 50px;
    }
}
@media (min-width:1025px) {
    .l-singleTable {
        display: inline-block;
        width: 55%;
        padding: 0;
    }
}

/* 関連記事 */
.l-valatedArticle {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

/* project */
/* パンくずナビゲーション */
.p-breadCrumb {
    width: 100%;
    padding: 10px;
    font-size: 12px;
}
@media (min-width:768px) {
    .p-breadCrumb {
        padding: 20px;
        font-size: 20px;
    }
}
.p-breadCrumb__inner>span {
    padding: 3px;
    letter-spacing: 1px;
}
.p-breadCrumb__inner>i {
    color: #d37b6a;
}
/* /パンくずナビゲーション */

/* slider～タグまで */
.p-singleArticle__item {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}
/* flexレイアウト用 */
@media (min-width:1025px) {
    .p-singleArticle__item {
        padding: 40px 0 30px;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* 本文～タグ */
.p-singleArticle__description {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}
@media (min-width:1025px) {
    .p-singleArticle__description {
        width: 50%;
        margin: 0;
    }
}

/* 記事タグ */
.p-singleTag {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 0;
    flex-direction: column;
}
@media (min-width:400px) {
    .p-singleTag {
        flex-direction: row;
    }
}
@media (min-width:1025px) {
    .p-singleTag {
        padding: 30px 0;
    }
}

/* 記事タグリスト */
.p-singleTagList__ul {
    margin: 0 auto;
    padding: 5px 0;
}
@media (min-width:400px) {
    .p-singleTagList__ul {
        margin: 0;
        padding: 0;
    }
}

/* ボタンたち */
.p-singleBtns {
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
}
@media (min-width:400px) {
    .p-singleBtns {
        width: 100%;
        padding: 10px 0;
        justify-content: center;
        flex-direction: row;
    }
}
@media (min-width:768px) {
    .p-singleBtns {
        padding: 30px 0;
    }
}

/* ボタン単体 */
.p-singleBtn,
a.p-singleBtn,
button.p-singleBtn {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    font-size: 1.2rem;
    transition: all 0.3s;
    letter-spacing: 1px;
    border-radius: 13px;
    text-align: center;
    vertical-align: middle;
}
@media (min-width:400px) {
    .p-singleBtn,
    a.p-singleBtn,
    button.p-singleBtn {
        margin: 0 10px 0 0;
    }
}
@media (min-width:768px) {
    .p-singleBtn,
    a.p-singleBtn,
    button.p-singleBtn {
        font-size: 1.8rem;
    }
}

/* 地図画像親要素 */
.p-singleMap {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}
@media (min-width:768px) {
    .p-singleMap {
    height: 400px;
}
}

/* 地図画像の指定 */
.p-singleMap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* テーブル */
.p-singleTable {
    width: 100%;
    border: 1px solid #2d294f;
    border-collapse: collapse;
}



/* 関連記事タイトル */
.p-title {
    text-align: center;
    padding: 30px 0;
}



/* c */
.c-title__img {
    height: 60px;
}

/* 記事タイトル */
.c-singleArticle__title {
    height: 30px;
    padding: 6px 0;
    background: #2d294f;
    color: #f8efef;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
}
@media (min-width:768px) {
    .c-singleArticle__title {
        height: 60px;
        font-size: 28px;
        padding: 16px 0;
    }
}

/* 記事テキスト */
.c-singleArticle__text {
    margin: 0 auto;
    padding: 10px 0;
    line-height: 1.5;
    font-size: 1.4rem;
}
@media (min-width:768px) {
    .c-singleArticle__text {
        padding: 20px 0;
        font-size: 1.8rem
    }
}
@media (min-width:1025px) {
    .c-singleArticle__text {
        padding: 0;
    }
}

/* 記事タグ */
/* 登録タグ */
.c-singleTag__text {
    width: 100px;
    min-width: 100px;
    margin: 0 auto;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #000000;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: center;
}
@media (min-width:400px) {
    .c-singleTag__text {
        margin: 0;
    }
}
@media (min-width:768px) {
    .c-singleTag__text {
        width: 155px;
        padding: 14px;
        font-size: 2.2rem;
    }
}

/* タグ名 */
.c-singleTagList__li {
    padding: 5px;
    letter-spacing: 1px;
    font-size: 1.6rem;
}
@media (min-width:400px) {
    .c-singleTagList__li {
        padding: 7px;
    }
}
@media (min-width:768px) {
    .c-singleTagList__li {
        padding: 14px;
        font-size: 2.2rem;
    }
}

/* ボタンのタグ */
a.c-btnTag {
    padding: 14px 14px 13px 50px;
    color: #000000;
    background: #f5f5f5;
}
@media (min-width:768px) {
    a.c-btnTag {
        padding: 26px 18px 24px 95px;
    }
}
a.c-btnTag::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    content: "";
    border-radius: 13px 0 0 13px;
    background: #cccccc;
    opacity: 0.5;
}
@media (min-width:768px) {
    a.c-btnTag::before {
        width: 80px;
    }
}

/* ボタン内のsvg */
a.c-btnTag svg {
    position: absolute;
    padding: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.3;
}

/* hoverしたら1.2倍 */
a.c-btnTag:hover svg {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

/* いいねカウント数 */
.c-favCount {
    padding: 2px;
    font-size: 18px;
}

/* 基本情報テーブル */
.c-singleTable__tr {
    height: 30px;
    border: 1px solid #000000;
}
@media (min-width:768px) {
    .c-singleTable__tr {
        height: 60px;
    }
}

.c-singleTable__th,
.c-singleTable__td {
    padding: 8px;
}
@media (min-width:768px) {
    .c-singleTable__th,
    .c-singleTable__td{
        padding: 16px;
    }
}

.c-singleTable__th {
    width: 80px;
    background: #2d294f;
    color: #f8efef;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
@media (min-width:768px) {
    .c-singleTable__th {
        width: 160px;
        font-size: 1.8rem;
    }
}
@media (min-width:1025px) {
    .c-singleTable__th {
        width: 25%;
    }
}

.c-singleTable__td {
    background: #f8efef;
    font-size: 1.4rem;
}
@media (min-width:768px) {
    .c-singleTable__td{
        font-size: 1.8rem;
    }
}
@media (min-width:1025px) {
    .c-singleTable__td {
        width: 75%;
    }
}
/* テーブルend */


/* u */
/* flex */
.u-flex {
    display: flex;
}

/* margin */
.u-mb10 {
    margin-bottom: 10px;
}

.u-mr20 {
    margin-right: 20px;
}

/* ボタン */
/* いいね！アイコン */
a.u-btnTag--fav svg {
    fill: #d37b6a;
    stroke: none;
    top: 12px;
    left: 8px;
    width: 24px;
}
@media (min-width:768px) {
    a.u-btnTag--fav svg {
        top: 16px;
        left: 16px;
        width: 48px;
    }
}

/* スポットピンアイコン */
a.u-btnTag--spot svg {
    fill: #71964B;
    top: 8px;
    left: 10px;
    width: 20px;
}
@media (min-width:768px) {
    a.u-btnTag--spot svg {
        top: 10px;
        left: 20px;
        width: 36px;
    }
}
