@charset "UTF-8";
/* メインのスライド */
.p-slickSlider li {
    width: 99%;
    height: 66vw;
    padding: 10px 0;
}
@media (min-width:1025px) {
    .p-slickSlider li {
        width: 33%;
        height: 22vw;
        padding-top: 0;
    }
}

.slick-slide img {
    width: auto;
    height: 100%;
    margin: 0 auto;
}
.slick-track {
    height: 50%;
}

/* サムネイルのスライド */
.p-thumbSlider {
    width: 100%;
    margin: 0 auto;
}

.p-thumbSlider li {
    width: 24%;
    height: 16vw;
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    background: #000000;
}
@media (min-width:1025px) {
    .p-thumbSlider li {
        width: 12%;
        height: 8vw;
    }
}

.p-thumbSlider li img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.p-thumbSlider li.slick-current img {
    opacity: 1;
}
