@charset "utf-8";
/* l */
.l-main {
    padding-top: 70px;
}
@media (min-width:1025px) {
    .l-main {
        padding-top: 100px;
    }
}
/* mainのカラー */
.p-conceptBase__main {
  padding: 85px 0 160px 0;
  background-color: #eae4ad;
}

/* sectionの指定 */
#conceptBase {
  background-color: #e2e0ef;
  width: 90vw;
  margin: 0 auto;
}

/* h2の指定 */
.p-conceptBase__heading {
  height: 90px;
}

.p-conceptBase__heading__title {
  font-weight: 200;
  font-size: 35px;
  line-height: 85px;
  text-align: center;
}

/* tableの指定 */
#conceptBase__inner {
  padding-top: 40px;
  padding-bottom: 100px;
}
.p-conceptBase__formTable {
  width: 100%;
}
.c-conceptBase__formTable__item {
  border: 1px solid #707070;
}
.u-conceptBase__formTable__line {
  margin: 20px 0;
  width: 100%;
}

.u-conceptBase__formTable__line tr td {
  background-color: white;
}

.p-conceptBase__formTable__item tr td {
  width: 70%;
}

.p-conceptBase__formTable__item th {
  display: table-cell;
  vertical-align: middle;
  background-color: #997653;
  background: rgba(153, 118, 83, 0.2);
  font-weight: 100;
  border: 1px solid #707070;
  padding: 10px 20px;
  color: #2d294f;
}

.c-conceptBase__formTable__item__textarea {
  border: 1px solid #707070;
}
.c-conceptBase__formTable__item__textarea td textarea {
  box-sizing: border-box;
  width: 100%;
}

.p-conceptBase__formTable__item input,
select {
  width: 100%;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #707070;
  box-sizing: border-box;
  font-size: 1em;
}

.c-contactSec__formTable__item__formButtons {
  text-align: center;
}

.c-contactSec__formTable__item__formButtons input {
  -webkit-appearance: none;
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  width: 120px;
  height: 60px;
  margin: 30px 15px;
}

.c-contactSec__formTable__item__formButtons input[type="submit"]:hover {
  background: #cf7e7c;
  border: 1px solid #cf7e7c;
}

/* SP用CSS */
/* メディアクエリ */
@media screen and (max-width: 599px) {
  .u-privacy__formTable__item th,
  .u-privacy__formTable__item,
  .p-conceptBase__formTable__item {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .p-conceptBase__heading__title {
    font-size: 24px;
  }
}
/* 色指定 */
.u-bgIndigo {
  background-color: #2d294f;
}
/* 文字の色、白指定 */
.u-color-white {
  color: white;
}
/* 背景の色白指定 */
.u-bgWhite {
  background-color: white;
}
/* abouttokusima */
.c-aboutBox__abt__font.u-m40 {
  text-align: center;
}
