@charset "utf-8";

/* l */
.l-main {
    padding-top: 70px;
}
@media (min-width:768px) {
    .l-main {
        padding-top: 100px;
    }
}

.l-department {
    position: relative;
}

/* project */
.p-departmentFloor {
    position: relative;
}

/* エレベーターがあるエリア */
.p-elevatorArea {
    position: relative;
    width: 100%;
    background: url("../images/mv_front_tabletNEW.jpg") no-repeat center top;
    z-index: 0;
}
@media (min-width:768px) {
    .p-elevatorArea {
        background-image: url("../images/mv_front_webNEW.jpg");
        background-size: cover;
    }
}
/* 疑似要素を使ってフィルターをかける */
.p-elevatorArea::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(80%)saturate(80%);
    z-index: -1;
}

/* フロア */
.p-floorBlock {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 5px 0;
}

/* 6F用 */
.p-special {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-around;
    align-items: flex-end;
}
@media (min-width:400px) {
    .p-special {
        width: 50%;
    }
}
@media (min-width:768px) {
    .p-special {
        height: 60%;
    }
}

.p-specialLink {
    justify-content: center;
    flex-direction: column-reverse;
}


/* リンクエリア */
.p-floorLink {
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}
@media (min-width:768px) {
    .p-floorLink {
        padding: 15px 0;
        height: 330px;
    }
}

/* タブレット以上の画像表示用 */
.p-floorImg {
    position: relative;
    width: 240px;
    height: 100%;
}
@media (min-width:768px) {
    .p-floorImg {
        width: 600px;
        height: 100%;
    }
}
@media (min-width:1025px) {
    .p-floorImg {
        width: 650px;
        height: 100%;
    }
}

/* ご案内 */
.p-guideArea {
    width: 100%;
    margin: 0 auto;
    padding: 15px 30px;
    background: rgba(226, 224, 239, 0.6);
    border-radius: 20px;
    border: 1px solid #2d294f;
    text-align: center;
}
@media (min-width:400px) {
    .p-guideArea {
        width: 90%;
    }
}
@media (min-width:1025px) {
    .p-guideArea {
        height: 45%;
    }
}

/* 徳島リンク */
.p-tokushimaLink {
    width: 100%;
    padding: 5px 0;
}

/* トップへどうぞ */
.p-topIcon {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
}
@media (min-width:768px) {
    .p-topIcon {
        padding: 10px 0;
    }
}

/* 新着情報エリア */
.p-newsArea {
    height: 70px;
    background: #f0f0f0;
}

/* c */
/* 6Fリンク */
a.c-specialLink {
    display: block;
    width: 120px;
}
@media (min-width:768px) {
    a.c-specialLink {
        width: 240px;
    }
}

/* バルーン */
.c-baloonGif {
    height: 200px;
}
@media (min-width:768px) {
    .c-baloonGif {
        height: 400px;
    }
}

/* テキスト */
.c-floor__text {
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.5;
}
@media (min-width:768px) {
    .c-floor__text {
        padding: 10px 0;
        font-size: 24px;
    }
}

/* キャッチコピー */
.c-catchCopy {
    width: 156px;
    position: absolute;
    top: 0;
    left: 0;
}
@media (min-width:1025px) {
    .c-catchCopy {
    width: 312px;
}
}

/* フロア名 */
.c-floorName {
    padding: 8px;
    color: #e2e0ef;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 2px 2px #2d294f;
}
@media (min-width:768px) {
    .c-floorName {
        font-size: 24px;
    }
}
@media (min-width:1025px) {
    .c-floorName {
        font-size: 34px;
    }
}


/* 階数 */
.c-floorNumber {
    padding-right: 15px;
    font-size: 18px;
    letter-spacing: 1px;
}
@media (min-width:768px) {
    .c-floorNumber {
        padding-right: 25px;
        font-size: 28px;
    }
}
@media (min-width:768px) {
    .c-floorNumber {
        padding-right: 35px;
        font-size: 38px;
    }
}


/* スポット画像 */
.c-floorSpot {
    width: 180px;
    height: 120px;
}
@media (min-width:768px) {
    .c-floorSpot {
        width: 360px;
        height: 240px;
    }
}
@media (min-width:1025px) {
    .c-floorSpot {
        width: 420px;
        height: 280px;
    }
}

/* マップ画像 */
.c-floorMap {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}
@media (min-width:768px) {
    .c-floorMap {
        width: 100px;
        height: 100px;
    }
}

/* ご案内タイトル */
.c-guideTitle {
    margin: 0 auto;
    padding: 10px 0;
    font-size: 14px;
}
@media (min-width:768px) {
    .c-guideTitle {
        padding: 20px 0;
        font-size: 26px;
    }
}
@media (min-width:1025px) {
    .c-guideTitle {
        padding: 30px 0;
        font-size: 30px;
    }
}

/* 徳島についてなどのリンク */
.c-tokushimaLink a {
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
}
@media (min-width:768px) {
    .c-tokushimaLink a {
        padding: 15px 0;
        font-size: 24px;
    }
}
@media (min-width:1025px) {
    .c-tokushimaLink a {
        padding: 20px 0;
        font-size: 28px;
    }
}

/* 上へどうぞ */
.c-topIcon {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #2d294f;
    background: #e2e0ef;
}
.c-topIcon i {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    color: #2d294f;
}
@media (min-width:768px) {
    .c-topIcon {
        width: 60px;
        height: 60px;
}
    .c-topIcon i {
        font-size: 58px;
}
}

/* 都市伝説のバナー */
a.c-horrorLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #ff0000;
}
@media (min-width:768px) {
    a.c-horrorLink {
        font-size: 22px;
    }
}
@media (min-width:768px) {
    a.c-horrorLink {
        font-size: 28px;
    }
}

/* u */
/* 表示非表示 */
.u-web {
    display: none;
}
@media (min-width:768px) {
    .u-web {
        display: block;
    }
}

/* flex */
.u-flex {
    display: flex;
}

/* margin */
.u-mb10 {
    margin-bottom: 10px;
}

.u-ml30 {
    margin-left: 30px;
}

/* height */
.u-hS {
    height: 220px;
}
@media (min-width:768px) {
    .u-hS {
        height: 430px;
    }
}
.u-hL {
    height: 550px;
}
@media (min-width:768px) {
    .u-hL {
        height: 1100px;
    }
}

/* スポット画像2枚目 */
.u-floorSpot--web {
    display: none;
}
@media (min-width:768px) {
    .u-floorSpot--web {
        display: block;
        position: absolute;
        width: 240px;
        height: 160px;
        right: 100px;
        bottom: 0;
    }
}
@media (min-width:1025px) {
    .u-floorSpot--web {
        width: 270px;
        height: 180px;
    }
}


/* 6F */
.u-6f {
    padding-top: 25px;
    height: 390px;
}
@media (min-width:768px) {
    .u-6f {
        padding-top: 50px;
        height: 1100px;
    }
}
/* 6FだけPCサイズでフロア名真ん中 */
@media (min-width:768px) {
    .u-6f .c-floorName {
        margin: 0 auto;
    }
}

/* 6Fのh3 */
.u-specialName {
    width: 120px;
    padding: 6px;
    background: #e2e0ef;
    border: 1px solid #2d294f;
    border-radius: 20px;
    color: #2d294f;
    font-size: 12px;
    text-shadow: none;
}
@media (min-width:768px) {
    .u-specialName {
        width: 240px;
        font-size: 24px;
    }
}

/* B1 */
.u-b1 {
    height: 200px;
    padding: 15px 0;
    background: #000000;
    background-image: url("../images/bg_front_horror.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: left top;
}
