/* color */
.u-cWhite {
  color: white;
}


/* bgcolor */
.u-bgIndigo {
  background-color: #2d294f;
}

/* margin */
.u-mb5 {
  margin-bottom: 5px;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mb30{
    margin-bottom: 30px;
}

.u-mb40 {
  margin-bottom: 40px;
}

.u-mb50 {
  margin-bottom: 50px;
}


.u-ml15 {
  margin-left: 15px;
}

.u-ml30 {
  margin-left: 30px;
}



li + .u-ml15 {
  margin-left: 10px;
}

@media screen and (min-width: 1025px) {
  li + .u-ml15 {
    margin-left: 15px;
  }
}

.u-bgColor--white {
  background-color: white;
}

.u-bgColor--8981ca {
  background-color: #8981ca;
}

/* filter */
.u-filter {
      filter: brightness(80%);
}
.u-filter:hover {
    filter: brightness(100%);
}

/* text-align */
.u-left {
  text-align: left;
}

.u-center {
  text-align: center;
}

.u-right {
  text-align: right;
}
