@charset "utf-8";

a:hover{
    /* color: black; */
    opacity: 0.7;
}
 /* PC用のメインイメージ非表示 */
.pcImg{
    display: none;
}
/* エリア名と説明全体 */
.p-articleArea{
        padding-top: 24px ;
    }
/* エリア名 */
.c-spotnameLarge{
    display: inline-block;
    color: white;
    width: 100%;
    font-size: 30px;
    background-color: #539199;
    padding: 10px ;
    border:2px solid #707070;
    text-align: center;
}
/* 地図の画像と説明 */
.p-articleArea__textImg{
    background-color: #C2A062;
    padding: 14px;
    flex-direction: column;
}
/* エリアの説明 */
.c-textLarge{

    padding-bottom:14px;
    line-height: 20px;
}


/* 地図の白背景の部分 */
.p-articleArea__img{
    background-color: white;
    position: relative;
    text-align: center;
    background-image: url("assets/images/flame_archive_common_map.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: calc(3624 / 5886 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
}

/* 地図の画像 */
.c-tizuLarge{

    width:200px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

/* スポット名見出し */
.c-spotType{
    padding: 30px;
    text-align: center;
}
/* 画像 */
.c-spotType__img{
    height: 50px;
}



@media(min-width:768px){
    /* メイン画像モバイル用非表示 */
     .spImg{
        display: none;
    }
    /* メイン画像PC用表示 */
    .pcImg{
        display: block;
    }
    /* 地図の画像と説明 */
    .p-articleArea__textImg{

        flex-direction: row-reverse;
        align-items: center;

    }
    /* flexbox指定 */
    .u-flex{
        display: flex;
    }
    /* エリア名と説明全体 */
     .p-articleArea{
        padding: 40px 0;
    }

    /* 地図の白背景の部分 */
    .p-articleArea__img{
    width: 35%;
    height: 0;
    padding-top: calc(3624 / 5886 * 35%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    /* width: 300px;
    height: 188px; */
    text-align: center;
}
/* 地図の画像 */
.c-tizuLarge{
  width:160px;
}
/* エリアの説明 */
.c-textLarge{
    width: 50%;
    font-size: 14px;
    padding:20px;
    line-height: 20px;
}
/* スポット名見出し画像 */
.c-spotType__img{
    height: 80px;
}
}

@media(min-width:1025px){
    /* 地図の白背景の部分 */
    .p-articleArea__img{
    width: 35%;
    height: 0;
    padding-top: calc(3624 / 5886 * 35%); /* calc(画像高さ ÷ 画像横幅 × 100%) */




}
    /* エリアの説明 */
    .c-textLarge{
        width: 65%;
        font-size: 24px;
        line-height: 1;
        padding:40px;
    }
   /* 地図の画像 */
    .c-tizuLarge{
    width:200px;

}
}











/* グリッドレイアウト */
.u-grid{
        display: grid;
}

/* グリッドの指定 */
.p-spotList{
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    width: 90%;
    margin: 0 auto;
}
/* pc用グリッドの幅指定 */
@media(min-width:1025px){
    .p-spotList{
        width: 80%;
    }
}

/* 一つの記事 */
.p-articleList{
      width: 280px;
      height: 320px;
      margin: 0 auto;
}
/* それぞれのmoreボタンを効かすためのもの */
.more1,.more2,.more3{
    overflow: hidden;
      transition: all .4s ease 0s;

}


.more1.is-hidden,.more2.is-hidden,.more3.is-hidden{
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0 10px;
  padding:0;
}

/* 額縁のクラス */
.p-gakuImg{

       position: relative;
         width: 280px;
         height:200px;


}
/* 額縁の画像 */
.c-imgGaku{
    width: 280px;
    height:200px;




}
/* 各スポット写真の画像 */
.c-imgArea{
    width: 240px;
    height: 160px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}




/* 額の下全体 */
.p-textArea{
    height: 120px;
     background-color:rgba(153,118,83,0.2);

}
/* ハートのSVG */
.icon__heart {
  width: 32px;
  height: 30px;
  fill: #bd0000;
  stroke: none;
}

/* flex-box指定 */
.u-flex{
    display: flex;
}
/* いいねの数 */
.c-bookmark__count{
    font-size: 18px;
    font-family: 'mamelon5';
    padding-top: 10px;

}
/* いいねの文字 */
.c-bookmark__text{
    font-size: 8px;
    padding-top: 15px;
}
/* いいねとタグ */
.p-textContent{
    display: flex;
    justify-content: space-between;
    padding: 16px 15px 10px 15px;
}
/* タグ全体 */
.p-tag{

    font-size: 13px;
    color:#FEF9F9;
    align-items: center;


}
/* タグのエリア名 */
.c-tag__areaName{
    display: inline-block;
    margin-right: 15px;


    background-color: #539199;
    padding: 8px ;
    border:2px solid #707070;

}
/* タグのスポット名 */
.c-tag__spotName{
    background-color: #2D294F;
    padding: 8px ;
    border:1px solid #707070;
}

/* スポット名称 */
.c-spotName{
    font-size: 18px;
    font-family: 'mamelon5';

    text-align: center;

}





/* moreボタン */
.c-moreButton{






    width: 180px;
    padding-top:30px;

    text-align: center;

    border-radius: 30px 30px 30px 30px;
    margin: 0 auto;

}
button{
      color: white;
    font-family: 'mamelon5';
    font-size: 26px;
    width: 180px;
    padding:7px;

    text-align: center;
    background-color: #2d294f;
    border-radius: 30px 30px 30px 30px;
     border: none;
  cursor: pointer;
  outline: none;

}

button:hover{
    opacity: 0.7;
}

@media(min-width:768px){

    .c-moreButton{



    color: white;
    font-family: 'mamelon5';
    font-size: 30px;
    width: 200px;
    padding:15px;

    text-align: center;

    border-radius: 30px 30px 30px 30px;
      margin-left: auto;
    margin-right: 30px;
}
button{
    background-color: #539199;

}
}




/* エレベーターアニメーション */
.c-animationImg {
    width: 100%;
    height: 100%;
}
.c-animationImg::before,
.c-animationImg::after {
    content: '';
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(assets/images/door.png) top center no-repeat;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: -1;
}
.c-animationImg::before {
    left: 0;
    clip: rect(0px 50vw 100vh 0px);
}
.c-animationImg::after {
    right: 0;
    clip: rect(0px 100vw 100vh 50vw);
}
.check {
    display: none;
}
.switch.fade {
    top: 30%;
}
.check.fade:checked ~ .switch.slide,
.check.fade:checked ~ .switch.push,
.check.fade:checked ~ .switch.pull{
    visibility: hidden;
    opacity: 0;
}
.check.fade:checked ~ .c-animationImg::before {
    animation: open-before 3s;
}
.check.fade:checked ~ .c-animationImg::after {
    animation: open-after 3s;
}
@keyframes open-before{
    0%{
    position: fixed;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
    z-index: 2;
    }
    90%{
    position: fixed;
    -webkit-transform: translate3d(-300,0,0);
    transform: translate3d(-300,0,0);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
    z-index: 2;
    }
    100%{
    position: fixed;
    -webkit-transform: translate3d(-550px,0,0);
    transform: translate3d(-550px,0,0);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 0;
    z-index: -10;
    }
}
@keyframes open-after{
    0%{
    position: fixed;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
    z-index: 2;
    }
    90%{
    position: fixed;
    -webkit-transform: translate3d(300,0,0);
    transform: translate3d(300,0,0);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
    z-index: 2;
    }
    100%{
    position: fixed;
    -webkit-transform: translate3d(550px,0,0);
    transform: translate3d(550px,0,0);
    -webkit-transition: all .5st;
    transition: all .5s;
    visibility: visible;
    opacity: 0;
    z-index: -10;
    }
}
/* エレベーターアニメーション終了 */
